@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  transition:
    background-color 1s ease,
    color 1s ease,
    border-color 1s ease;
}

.sideBar {
  transition: all 1s ease;
}
